*{
}
html{
	background-color: lightblue;
}
form{
	background-color: #fcfcfc;
	margin: 2% 70% 0% 10%;
	padding: 3% 200px 3% 3%;
	border-width: 2px;
	border-color: #000000;
	border-style: solid;
}
h1{
	margin: 4% 0 0 8%;
}
div{
	margin-top: 5%;
}